@import url('https://fonts.googleapis.com/css?family=Inter:700|Ubuntu:400');

html {font-size: min(3.5vh,3vw)} /* 16px */

h1 {font-size: 3rem; /* 90.4px */}

h2 {font-size: 2.5rem /* 64px */}

h3 {font-size: 1.6rem;/* 45.28px */}

h4 {font-size: 1.2rem; /* 32px */}

h5 {font-size: 1rem; /* 22.56px */}

small {font-size: 1rem; /* 11.36px */}

root {
    font-size: small;
}

:root{
    --background-color: 16, 17, 22;
    --secondary-background-color: 180, 239, 224;
    --accent: 239, 83, 17;
    --secondary: 67, 93, 95;
    --text: 251, 243, 238;
    --heading-text: 244, 243, 242;

    --textFont: "Ubuntu",
    --headingFont: "Inter",
}

body {
    background-color: rgb(var(--background-color));
    margin : 0;
    padding: 0;
    color : rgb(var(--text));
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: justify;
}

p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
    color: rgb(var(--heading-text));
  }

.MainHighlightArea {
    margin : 0;
    padding: 0;
}

img {
    width:100%;
    height: auto;
    margin: 0;
    border-bottom: 0.25rem solid rgba(var(--accent),1);
}

.DevlogHighlights {
    margin-top: 1rem;
    margin-left: min(7rem,10vw);
    margin-right: min(7rem,10vw);

    padding-bottom: 4rem;
    padding-top: 2rem;
    
}

.DevlogHighlights h2{
    padding-left: 0.5rem;
    border-bottom: 0.25rem solid rgba(var(--accent),1);
    margin-top: 0;
}

.DevlogHighlights table{
    border-radius: 2rem;
    padding: 3rem;
    width : 100%;
}

.DescriptionRow{
    max-width : 100%;
    min-height: 0;
    margin-bottom: 1rem;

    position:relative; 
    height:auto;

    padding-top: 1rem;
}

.DescriptionRow img{
    float :left; 
    align-self: center;
    height: 5rem;
    margin : 0.25rem 0.25rem 0 1.25rem;
    border-radius: 0.5rem;
    width:auto; 
    border:0;
}

.Description{
    margin-left: min(0.75rem,5vw);
    padding: 0.25rem;
    padding-top: 0;
    padding-bottom: 0;
    
    border-left: 0.25rem solid rgba(var(--secondary-background-color),0.8);

    background: rgba(var(--background-color),0.2);
    background: linear-gradient(90deg, rgba(var(--background-color),0.4) 0%, rgba(var(--background-color),0) 100%);
}

.DevlogHighlights h3{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 0.25rem solid rgba(var(--accent),0.8);
}

.Description p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1rem;
}

