@import url('https://fonts.googleapis.com/css?family=Inter:700|Ubuntu:400');

html {font-size: min(3.5vh,3vw)} /* 16px */

h1 {font-size: 3rem; /* 90.4px */}

h2 {font-size: 2.5rem /* 64px */}

h3 {font-size: 1.6rem;/* 45.28px */}

h4 {font-size: 1.2rem; /* 32px */}

h5 {font-size: 1rem; /* 22.56px */}

small {font-size: 1rem; /* 11.36px */}

root {
    font-size: small;
}

:root{
    --background-color: 10, 8, 7;
    --secondary-background-color: 180, 239, 224;
    --accent: 239, 121, 17;
    --secondary: 67, 93, 95;
    --text: 244, 241, 239;

    --textFont: "Ubuntu",
    --headingFont: "Inter",
}

body {
    background-color: rgb(var(--background-color));
    margin : 0;
    padding: 0;
    color : rgb(var(--text));
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: justify;
}

p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
  }

.MainHighlightArea {
    margin : 0;
    padding: 0;
}

img {
    width:100%;
    height: auto;
    margin: 0;
}

.DevlogHighlights {
    margin-top: 1rem;
    margin-left: min(7rem,10vw);
    margin-right: min(7rem,10vw);
    padding-left: min(3rem,5vw);
    padding-right: min(3rem,5vw);
    padding-bottom: 4rem;
    padding-top: 2rem;
    border-bottom: 0.5rem solid rgba(var(--accent), 0.6);
    border-radius: 0 0 0.25rem 0.25rem;
    background: rgba(var(--secondary),0.1);
    background:
        linear-gradient(180deg, rgba(var(--secondary-background-color), 0.0) 0%, rgba(var(--secondary-background-color), 0.05) 4rem )
}

.DevlogHighlights h2{
    padding-left: 0.5rem;
    border-bottom: 0.25rem solid rgba(var(--accent),1);
    /*border-left: 0.25rem solid rgba(var(--secondary-background-color),0.7);*/
    border-radius: 0.25rem;
    margin-top: 0;
}

.DevlogHighlights table{
    border-radius: 2rem;
    padding: 3rem;
    width : 100%;
}

.DescriptionRow{
    background: rgba(var(--secondary),0.2);

    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 0.25rem solid rgba(var(--accent),0.8);
    border-bottom: 1rem;
    max-width : 100%;
    min-height: 0;
    margin-bottom: 1rem;

    position:relative; 
    height:auto;; 

    padding: 2rem;
    padding-left: min(2rem,5vw);
    padding-right: min(2rem,5vw);
    padding-top: 1rem;
}

.DescriptionRow img{
    float :left; 
    align-self: center;
    height: 6rem;
    margin : 0.75rem 0.5rem 0.25rem min(1.75rem,5vw);
    border-radius: 0.5rem;
    width:auto; 
}

.Description{
    margin-left: min(0.75rem,5vw);
    padding: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
    
    border-left: 0.5rem solid rgba(var(--secondary-background-color),0.7);
    background: rgba(var(--background-color),0.2);
    background: linear-gradient(90deg, rgba(var(--background-color),0.4) 0%, rgba(var(--background-color),0) 100%);
}

.DevlogHighlights h3{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.Description p{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1rem;
}

