@import url('https://fonts.googleapis.com/css?family=Inter:700|Ubuntu:400');

html {font-size: min(3.5vh,3vw)} /* 16px */

h1 {font-size: 2rem; /* 90.4px */}

h2 {font-size: 2rem /* 64px */}

h3 {font-size: 1.6rem;/* 45.28px */}

h4 {font-size: 1.2rem; /* 32px */}

h5 {font-size: 1rem; /* 22.56px */}

small {font-size: 1rem; /* 11.36px */}

:root{
    --background-color: 16, 17, 22;
    --secondary-background-color: 180, 239, 224;
    --accent: 239, 83, 17;
    --secondary: 67, 93, 95;
    --text: 251, 243, 238;
    --heading-text: 244, 243, 242;

    --textFont: "Ubuntu",
    --headingFont: "Inter",
}

br {
    display: block;
    content: "";
    margin-top: 1rem ;
}

body {
    background-color: rgb(var(--background-color));
    margin : 0;
    padding: 0;
    color : rgba(var(--text),0.9);
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: justify;
}

p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: bold;
    color: rgb(var(--heading-text));
}

h1{
    font-weight:bolder;
    position: absolute;
    top:0;
    Left:0;
    margin-left: 0;
    margin-top: 0;
    background-color: rgba(var(--background-color),0.7);
    border-bottom: 0.1rem solid rgba(var(--text),0.9);
    border-right: 0.1rem solid rgba(var(--text),0.9);
    padding-right: 0.5rem;
    padding-bottom: 0.25rem;
}

img {
    width:100%;
    height: auto;
    margin: 0;
}

a:link {
    color: rgba(var(--accent),0.8);
}


a:hover {
    color: rgba(var(--accent),1);
}

a:visited {
    color: rgba(var(--secondary-background-color),0.5);
}

a:visited:hover {
    color: rgba(var(--secondary-background-color),0.9);
}


#BannerImage img{
    border-bottom: 0.25rem solid rgb(var(--accent));
}

#TextArea h3{
    text-decoration: underline rgb(var(--accent));
    text-align: left;
}

#TextArea{
    margin-top: 2rem;
    margin-left: min(7rem,10vw);
    margin-right: min(7rem,10vw);

    padding-bottom: 4rem;
    padding-top: 0rem;
}

#TextArea p{
    margin-top: 1.5rem;
}

#TextArea img{
    height: 6.5rem;
    width:auto;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

#TextArea .fullWidthImage{
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 1rem;
}

#TextArea h1,h2,h4,h5{
    border-bottom: 0.25rem solid rgb(var(--accent));
}

#NavigationBar {
    margin-top:2rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width:75vw;
    margin-left: 12.5vw;
    margin-bottom: 2rem;
}

table{
    margin-left:12vw;
}

.sideNav{
    width: 20vw;
}

.leftNav{
    background-color: rgba(var(--secondary-background-color),0.2);
    align-items: end;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.35rem;
    position: relative;
    border-radius: 0.25rem;
}

.rightNav{
    background-color: rgba(var(--secondary-background-color),0.2);
    align-items: end;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.35rem;
    position: relative;
    border-radius: 0.25rem;
}


.CenterNav{
    background-color: rgba(var(--secondary-background-color),0.2);
    align-items: end;
    margin-right: 2rem;
    padding: 0.5rem;
    padding-top: 0.15rem;
    padding-bottom: 0.35rem;
    position: relative;
    border-radius: 0.25rem;
}